.page-list-item-wrapper
  margin: 10px 20px
  list-style-type: none
  display: flex
  justify-content: space-between
  span
    color: #000
  .page-list-item
    background-color: #fff
    cursor: pointer
    &.selected
      outline-style: solid
      outline-color: rgb(244, 67, 54)
      outline-width: 2px
    .page-list-item-thumb
      position: relative
      overflow: hidden
